blockquote.ui {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

blockquote.ui .stg {
    position: relative !important;
    width: 100% !important;
    aspect-ratio: 1024 / 407 !important;
    overflow: hidden !important;
}

blockquote.ui .bg {
    position: absolute !important;
    inset: 0 !important;
    z-index: 1 !important;

    background-image: url('https://raw.githack.com/Ej761/publish/bd79b3e/Bar/Bar.webp') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

blockquote.ui .guest-test {
    position: absolute !important;
    left: 36.44% !important;
    bottom: 17.4% !important;
    z-index: 999 !important;

    width: 25.52% !important;
    aspect-ratio: 3 / 4 !important;

    background-image: url('https://raw.githack.com/Ej761/publish/bd79b3e/Bar/G01-1.webp') !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: contain !important;

    outline: 3px solid red !important;
}